<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Addproducts</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/shop">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-products">AddProduct</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/admin/products" method="POST" class="product-form">
            <div class="form-control">
                <label for="product">product</label>
                <input type="text" name="product" placeholder="Enter the item" id="product">
                <!--<label for="quantity">quantity</label>-->
                <!-- <input type="number" name="quantity" placeholder="Enter the quantity" id="quantity">-->
            </div>
            <button type="submit">AddProduct</button>
        </form>
    </main>

</body>

</html>